%label.seachBox-listname snowBを選ぶ
%select.selectBoxLists{id: "parent", name: "snowB"}
  %option{value: "", class: "msg"} snowBを選択
  %option{value: "snowboard"} ボード
  %option{value: "snowboots"} ブーツ
  %option{value: "binding"} ビンディング
  %option{value: "helmet"} ヘルメット
  %option{value: "goggle"} ゴーグル
  %option{value: "grove"} グローブ
  %option{value: "wear"} ウェア
  %option{value: "item"} アイテム