.homeWrapper
  .home-backgroudImage
    = image_tag("snowboarding-1734841_1920.jpg")
    .home-snowB-search
      %h1 見つけよう、最高の相棒を

      .home-snowB-search__comboBox
        .home-snowB-search__comboBox__snowBselect
          %label.seachBox-listname snowBを選ぶ
          %select.selectBoxLists{id: "parent", name: "snowB"}
            %option{value: "", class: "msg"} snowBを選択
            %option{value: "snowboard"} ボード
            %option{value: "snowboots"} ブーツ
            %option{value: "binding"} ビンディング
            %option{value: "helmet"} ヘルメット
            %option{value: "goggle"} ゴーグル
            %option{value: "grove"} グローブ
            %option{value: "wear"} ウェア
            %option{value: "item"} アイテム
        %br
        %p.synergy ✖️
       
        .home-snowB-search__comboBox__brand
          %label.seachBox-listname ブランド
          %select.selectBoxLists{name: "ブランド", id: "children"}
            %option ブランドを選択
            -# スノーボードのブランド
            %option{value: "BURTON", "data-val": 'snowboard'} BURTON
            %option{value: "K2", "data-val": 'snowboard'} K2
            %option{value: "SALOMON", "data-val": 'snowboard'} SALOMON
            %option{value: "FLOW", "data-val": 'snowboard'} FLOW
            %option{value: "OGASAKA", "data-val": 'snowboard'} OGASAKA
            %option{value: "RIDE", "data-val": 'snowboard'} RIDE
            %option{value: "ROME", "data-val": 'snowboard'} ROME
            %option{value: "ALLIAN", "data-val": 'snowboard'} ALLIAN
            %option{value: "YONEX", "data-val": 'snowboard'} YONEX
            %option{value: "CAPiTA", "data-val": 'snowboard'} CAPiTA
            %option{value: "NOVEMBER", "data-val": 'snowboard'} NOVEMBER
            %option{value: "elan", "data-val": 'snowboard'} elan
            %option{value: "Artistic", "data-val": 'snowboard'} Artistic
            %option{value: "BC Stream", "data-val": 'snowboard'} BC Stream
            %option{value: "others1", "data-val": 'snowboard'} その他

            -# ブーツのブランド
            %option{value: "BURTON", "data-val": 'snowboots'} BURTON
            %option{value: "DEELUXE", "data-val": 'snowboots'} DEELUXE
            %option{value: "FLUX", "data-val": 'snowboots'} FLUX
            %option{value: "thirtytwo", "data-val": 'snowboots'} thirtytwo
            %option{value: "K2", "data-val": 'snowboots'} K2
            %option{value: "SALOMON", "data-val": 'snowboots'} SALOMON
            %option{value: "NIDECKER", "data-val": 'snowboots'} NIDECKER
            %option{value: "RIDE", "data-val": 'snowboots'} RIDE
            %option{value: "head", "data-val": 'snowboots'} head
            %option{value: "ROME SDS", "data-val": 'snowboots'} ROME SDS
            %option{value: "YONEX", "data-val": 'snowboots'} YONEX
            %option{value: "adidas", "data-val": 'snowboots'} adidas
            %option{value: "VANS", "data-val": 'snowboots'} VANS
            %option{value: "DC", "data-val": 'snowboots'} DC
            %option{value: "others2", "data-val": 'snowboots'} その他

            -# ビンディングのブランド
            %option{value: "BURTON", "data-val": 'binding'} BURTON
            %option{value: "UNION", "data-val": 'binding'} UNION
            %option{value: "FLUX", "data-val": 'binding'} FLUX
            %option{value: "SALOMON", "data-val": 'binding'} SALOMON
            %option{value: "FLOW", "data-val": 'binding'} FLOW
            %option{value: "RIDE", "data-val": 'binding'} RIDE
            %option{value: "FIX", "data-val": 'binding'} FIX
            %option{value: "BENT METAL", "data-val": 'binding'} BENT METAL
            %option{value: "SP", "data-val": 'binding'} SP
            %option{value: "K2", "data-val": 'binding'} K2
            %option{value: "F2", "data-val": 'binding'} F2
            %option{value: "head", "data-val": 'binding'} head
            %option{value: "ROME", "data-val": 'binding'} ROME
            %option{value: "YONEX", "data-val": 'binding'} YONEX
            %option{value: "elan", "data-val": 'binding'} elan
            %option{value: "kissmark", "data-val": 'binding'} kissmark
            %option{value: "others3", "data-val": 'binding'} その他

            -# ヘルメットのブランド
            %option{value: "SALOMON", "data-val": 'helmet'} SALOMON
            %option{value: "GIRO", "data-val": 'helmet'} GIRO
            %option{value: "SWANS", "data-val": 'helmet'} SWANS
            %option{value: "BURTON", "data-val": 'helmet'} BURTON
            %option{value: "SMITH", "data-val": 'helmet'} SMITH
            %option{value: "K2", "data-val": 'helmet'} K2
            %option{value: "uvex", "data-val": 'helmet'} uvex
            %option{value: "Anon", "data-val": 'helmet'} Anon
            %option{value: "Sandbox", "data-val": 'helmet'} Sandbox
            %option{value: "BERN", "data-val": 'helmet'} BERN
            %option{value: "MOON", "data-val": 'helmet'} MOON
            %option{value: "ALPINA", "data-val": 'helmet'} ALPINA
            %option{value: "kufun", "data-val": 'helmet'} kufun
            %option{value: "PONTAPES", "data-val": 'helmet'} PONTAPES
            %option{value: "Topki", "data-val": 'helmet'} Topki
            %option{value: "KASK", "data-val": 'helmet'} KASK
            %option{value: "others4", "data-val": 'helmet'} その他

            -# ゴーグルのブランド
            %option{value: "DRAGON", "data-val": 'goggle'} DRAGON
            %option{value: "OAKLEY", "data-val": 'goggle'} OAKLEY
            %option{value: "SMITH", "data-val": 'goggle'} SMITH
            %option{value: "SWANS", "data-val": 'goggle'} SWANS
            %option{value: "ELECTRIC", "data-val": 'goggle'} ELECTRIC
            %option{value: "anon", "data-val": 'goggle'} anon
            %option{value: "bern", "data-val": 'goggle'} bern
            %option{value: "SALOMON", "data-val": 'goggle'} SALOMON
            %option{value: "K2", "data-val": 'goggle'} K2
            %option{value: "uvex", "data-val": 'goggle'} uvex
            %option{value: "SPY", "data-val": 'goggle'} SPY
            %option{value: "DICE", "data-val": 'goggle'} DICE
            %option{value: "VONZIPPER", "data-val": 'goggle'} VONZIPPER
            %option{value: "REVOLT", "data-val": 'goggle'} REVOLT
            %option{value: "POC", "data-val": 'goggle'} POC
            %option{value: "ASHBURY", "data-val": 'goggle'} ASHBURY
            %option{value: "GIRO", "data-val": 'goggle'} GIRO
            %option{value: "D:RECT", "data-val": 'goggle'} D:RECT
            %option{value: "ABOM", "data-val": 'goggle'} ABOM
            %option{value: "others5", "data-val": 'goggle'} その他


            -# グローブのブランド
            %option{value: "BURTON", "data-val": 'grove'} BURTON
            %option{value: "VOLCOM", "data-val": 'grove'} VOLCOM
            %option{value: "SALOMON", "data-val": 'grove'} SALOMON
            %option{value: "DAKINE", "data-val": 'grove'} DAKINE
            %option{value: "neff", "data-val": 'grove'} neff
            %option{value: "eb’s", "data-val": 'grove'} eb’s
            %option{value: "oran’ge", "data-val": 'grove'} oran’ge
            %option{value: "VOLUME", "data-val": 'grove'} VOLUME
            %option{value: "ROXY", "data-val": 'grove'} ROXY
            %option{value: "GRENADE", "data-val": 'grove'} GRENADE
            %option{value: "3 REE", "data-val": 'grove'} 3 REE
            %option{value: "kissmark", "data-val": 'grove'} kissmark
            %option{value: "Ashram", "data-val": 'grove'} Ashram
            %option{value: "DC", "data-val": 'grove'} DC
            %option{value: "others6", "data-val": 'grove'} その他


            -# ウェアのブランド
            %option{value: "BURTON", "data-val": 'wear'} BURTON
            %option{value: "VOLCOM", "data-val": 'wear'} VOLCOM
            %option{value: "Analog", "data-val": 'wear'} Analog
            %option{value: "686", "data-val": 'wear'} 686
            %option{value: "REW", "data-val": 'wear'} REW
            %option{value: "BILLABONG", "data-val": 'wear'} BILLABONG
            %option{value: "THE NORTH FACE", "data-val": 'wear'} THE NORTH FACE
            %option{value: "ARBN", "data-val": 'wear'} ARBN
            %option{value: "HOLDEN", "data-val": 'wear'} HOLDEN
            %option{value: "neff", "data-val": 'wear'} neff
            %option{value: "othes7", "data-val": 'wear'} その他


            -# アイテム
            %option{value: "BURTON", "data-val": 'item'} BURTON

        %br
        %p.synergy ✖️

        .home-snowB-search__comboBox__price
          %label.seachBox-listname 価格
          %select.selectBoxLists
            %option 選択しない
            %option 〜¥5000
            %option ¥5001〜10000
            %option ¥10000〜50000
            %option ¥50000以上

      .home-search-checkBox
        .home-search-checkBox__text
          = link_to 'チェックする'