.homeWrapper
  .home-backgroudImage
    = image_tag("snowboarding-1734841_1920.jpg")
    .home-snowB-search
      %h1 見つけよう、最高の相棒を

      .home-snowB-search__comboBox
        .home-snowB-search__comboBox__snowBselect
          = render "select"
        %br
        %p.synergy ✖️
       
        .home-snowB-search__comboBox__brand
          = render "sub_select"
        %br
        %p.synergy ✖️

        .home-snowB-search__comboBox__price
          %label.seachBox-listname 価格
          %select.selectBoxLists
            %option 選択しない
            %option 〜¥5000
            %option ¥5001〜10000
            %option ¥10000〜50000
            %option ¥50000以上

      .home-search-checkBox
        .home-search-checkBox__text
          = link_to 'チェックする'