.homeWrapper
  .home-backgroudImage
    = image_tag("snowboarding-1734841_1920.jpg")
    .home-snowB-search
      %h1 見つけよう、最高の相棒を

      .home-snowB-search__comboBox
        .home-snowB-search__comboBox__snowBselect
          %label.seachBox-listname snowBを選ぶ
          %select.selectBoxLists{id: "parent", name: "snowB"}
            %option{value: "", class: "msg"} snowBを選択
            %option{value: "snowboard"} ボード
            %option{value: "snowboots"} ブーツ
            %option{value: "binding"} ビンディング
        %br
        %p.synergy ✖️
       
        .home-snowB-search__comboBox__brand
          %label.seachBox-listname ブランド
          %select.selectBoxLists{name: "ブランド", id: "children"}
            %option ブランドを選択
            -# スノーボードのブランド
            %option{value: "Burton", "data-val": 'snowboard'} BURTON
            %option{value: "K2", "data-val": 'snowboard'} K2
            %option{value: "Burton", "data-val": 'snowboard'} SALOMON
            -# ブーツのブランド
            %option{value: "Burton", "data-val": 'snowboots'} BURTON
            %option{value: "DEELUXE", "data-val": 'snowboots'} DEELUXE
            %option{value: "FLUX", "data-val": 'snowboots'} FLUX
            -# ビンディングのブランド
            %option{value: "BURTON", "data-val": 'binding'} BURTON
            %option{value: "UNION", "data-val": 'binding'} UNION
            %option{value: "FLUX", "data-val": 'binding'} FLUX
        %br
        %p.synergy ✖️

        .home-snowB-search__comboBox__price
          %label.seachBox-listname 価格
          %select.selectBoxLists
            %option 選択しない
            %option 〜¥5000
            %option ¥5001〜10000
            %option ¥10000〜50000
            %option ¥50000以上

      .home-search-checkBox
        .home-search-checkBox__text
          = link_to 'チェックする'