.postWrapper {

  &__commentsBox {
    width: 725px;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    &__comments {
      input.commentsForm {
      width: 500px;
      height: 100px;
      padding-left: 10px;
      }
      input.commentsSubmit {
        width: 100px;
        height: 40px;
        color: #fff;
        background-color: red;
        margin-left: 60px;
        border-radius: 5px;
      }
    }

    &__commentsList {
      margin-top: 20px;
      h2 {
        font-size: 25px;
        padding-bottom: 20px;
      }
      &__contents1 {
        display: flex;
        height: auto;
        border: ridge 1px;
        padding: 10px;
        margin-bottom: 20px;
        &__leftBox {
          width: 120px;
          background-color: red;
        }
        &__rightBox {
          padding-left: 50px;
          &__username {
            padding-bottom: 5px;
          }
          &__reply {
            padding-bottom: 10px;
          }
          &__textBox {

          }
        }
      }
    }
  }
}