.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: cornsilk;
    .title-menu {
      display: flex;
      align-items: center;
      &__icon a{
        font-size: 30px;
        padding-left: 15px;
        color: cornflowerblue;
      }
      &__title a {
        text-decoration: none;
        font-size: 30px;
        padding-left: 10px;
        color: cornflowerblue;
        font-family: -webkit-pictograph;
      }
      .menu {
        margin-left: 300px;
      }
    }
  ul {
    display: flex;
    li {
      padding-left: 30px;
    }
      a {
        font-size: 20px;
        text-decoration: none;
        color: black;
        position: relative;
        display: inline-block;
        font-family: monospace;
      }
      a::after {
        position: absolute;
        bottom: -4px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #333;
        transform: scale(0, 1);
        transform-origin: center top;
        transition: transform .3s;
      }
      a:hover::after {
        transform: scale(1, 1);
      }
  }

  .sign {
    display: flex;
    align-items: center;
    &__log-out {
      width: 110px;
      height: 40px;
      text-align: center;
      margin-left: 10px;
      margin-right: 20px;
      a {
        display: inline-block;
        text-decoration: none;
        color: #67c5ff;
        border: solid 2px #67c5ff;
        border-radius: 3px;
        transition: .4s;
        padding: 0.3em 1em;
        font-size: 15px;
        text-decoration: none;
          &:hover {
          background: #67c5ff;
          color: white;
        }
      }
    }
    &__new-post {
      width: 110px;
      height: 40px;
      margin: 5px;
      text-align: center;
      a {
        display: inline-block;
        text-decoration: none;
        color: #67c5ff;
        border: solid 2px #67c5ff;
        border-radius: 3px;
        transition: .4s;
        padding: 0.3em 1em;
        font-size: 15px;
        text-decoration: none;
          &:hover {
          background: #67c5ff;
          color: white;
        }
      }
    }
    &__login {
      width: 110px;
      height: 40px;
      text-align: center;
      a {
        display: inline-block;
        text-decoration: none;
        color: #67c5ff;
        border: solid 2px #67c5ff;
        border-radius: 3px;
        transition: .4s;
        padding: 0.3em 1em;
        font-size: 15px;
        text-decoration: none;
          &:hover {
          background: #67c5ff;
          color: white;
        }
      }
    }
    &__new-registration {
      width: 110px;
      height: 40px;
      margin: 30px;
      text-align: center;
      a {
        display: inline-block;
        text-decoration: none;
        color: #67c5ff;
        border: solid 2px #67c5ff;
        border-radius: 3px;
        transition: .4s;
        padding: 0.3em 1em;
        font-size: 15px;
        text-decoration: none;
          &:hover {
          background: #67c5ff;
          color: white;
        }
      }
      }
    }
  }


