a {
  text-decoration: none;
}

//snowB投稿一覧
.posts-index {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 150px;
  padding-bottom: 180px;
  filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
}
.posts-box {
  width: 510px;
  height: 560px;
  margin-right: 80px;
  margin-bottom: 80px;
  padding: 5px;
  border: inset;
  background-color: #fff;
  border-radius: 10px;
  &__image img {
    width: 500px;
    height: 420px;
    border-radius: 10px;
    padding-right: 5px;
  }
}

.posts-profile-box {
  display: flex;
  &__image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  &__username {
    width: 400px;
    height: 100px;
    h1 a{
    font-size: 25px;
    font-weight: normal;
    line-height: 100px;
    padding-left: 20px;
    text-decoration: none;
    color: lightskyblue;
    }
  }
  &__favoritesBox {
    display: flex;
    font-size: 28px;
    padding: 15px;
    a {
      padding-right: 10px;
      color: sandybrown;
    }
    &__favorite {
      display: flex;
    }
  }
}

.posts-profile-updateat {
  text-align: center;
}
//投稿の詳細画面
.postWrapper {
  padding: 70px 300px 100px 300px;
  background-color: #f5f5f5;
  padding-bottom: 250px;

  &__each-show-box {
    width: 725px;
    border: ridge 2px;
    border-radius: 5px;
    background-color: #fff;
    filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));

    &__profile {
      display: flex;
      padding: 10px;
      border-bottom: ridge 1px;

      &__image {
        padding: 3px;
        img {
          border-radius: 50%;
        }
      }
      &__username {
        margin-left: 50px;
        a {
          font-size: 30px;
          line-height: 100px;
          text-decoration: none;
          color: lightskyblue;      
        }
      }
    }

    &__main-image {
      padding: 5px;
      border-bottom: ridge 1px;
    }
    
    &__main-contents {
      padding: 10px;
      margin-top: 10px;
      &__top {
        display: flex;
        &__title {
          font-size: 30px;
          margin-bottom: 10px;
        }
        &__favoritesBox {
          display: flex;
          font-size: 28px;
          margin: 0 0 0 auto;
          a {
            padding-right: 10px;
            color: sandybrown;
          }
        }
      }
      &__body {
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 15px;
      }
      &__edit-btn {
        width: 100px;
        height: 40px;
        a {
          position: relative;
          display: inline-block;
          font-size: 20px;
          font-weight: bold;
          padding: 0.25em 0.5em;
          text-decoration: none;
          color: #00BCD4;
          background: #ECECEC;
          border-radius: 0 15px 15px 0;
          transition: .4s;
          &:hover {
            background: #636363;
          }
        }
      }
    }
  }
}

// 新規投稿
.account-page {
  padding-bottom: 150px;
  .account-page__inner {
    width: 980px;
    margin: 60px auto;
    padding: 60px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;

    .account-page__inner--left, .account-page__inner--right {
      float: left;
      width: 50%;
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  .account-page__header {
    h2 {
      margin-bottom: 10px;
      letter-spacing: 3px;
      font-size: 40px;
      font-weight: 200;

      &:after {
        content: '';
        display: block;
        width: 60px;
        margin-top: 5px;
        border-bottom: 1px solid #38aef0;
      }
    }

    h5 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 200;
    }

    .btn {
      margin-top: 20px;
      color: #fff;
      background-color: #ccc;
      font-size: 14px;
    }
  }

  .field {
    margin-bottom: 10px;

    .field-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;

      i {
        font-size: 11px;
      }
    }

    .field-input {
      input {
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
      }
      textarea {
        width: 100%;
        height: 100px;
        padding: 10px;
        letter-spacing: 1px;
      }
    }
  }

  .btn {
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
  }

  input[type='submit'] {
    float: left;
    margin-top: 20px;
    color: #fff;
    background-color: #38aef0;
  }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
