.posts-title, .posts-new-title, .posts-edit-title, .post-show-title {
  width: 100vw;
  height: 60px;
  background-color: lightskyblue;
  h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
  }
}
//snowB投稿一覧画面
.posts-indexArea {
  background: #f8f8f8;
}
//snowB1つ１つの投稿内容
.posts-index {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 150px;
  filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
}
.posts-box {
  width: 510px;
  height: 560px;
  margin-right: 80px;
  margin-bottom: 80px;
  padding: 5px;
  border: inset;
  background-color: #fff;
  border-radius: 10px;
  &__image img {
    width: 500px;
    height: 420px;
    border-radius: 10px;
    padding-right: 5px;
  }
}

.posts-profile-box {
  display: flex;
  &__image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  &__username {
    width: 400px;
    height: 100px;
    h1 a{
    font-size: 25px;
    font-weight: normal;
    line-height: 100px;
    padding-left: 20px;
    text-decoration: none;
    color: lightskyblue;
    }
  }
}

.posts-profile-updateat {
  text-align: center;
}
//投稿の詳細画面
.post-each-show-box {
  margin: 0 auto;
  margin-top: 70px;
  width: 725px;
  border: ridge;
  border-radius: 20px;
  filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  &__profile {
    display: flex;
    padding: 10px;
    &__image {
      padding: 3px;
      img {
        border-radius: 50%;
      }
    }

    &__username {
      margin-left: 50px;
      a {
        font-size: 30px;
        line-height: 100px;
        text-decoration: none;
        color: lightskyblue;      
      }
    }
  }
  &__main-contents {
    padding: 10px;
    margin-top: 10px;
    &__title {
      font-size: 30px;
      margin-bottom: 10px;
    }
    &__body {
      font-size: 20px;
      letter-spacing: 1px;
      margin-bottom: 15px;
    }
    &__edit-btn {
      width: 100px;
      height: 40px;
      a {
        position: relative;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #00BCD4;
        background: #ECECEC;
        border-radius: 0 15px 15px 0;
        transition: .4s;
        &:hover {
          background: #636363;
        }
      }
    }
  }
}
