.title {
  width: 100vw;
  height: 70px;
  background-color: aquamarine;
  font-size: 24px;
  text-align: center;
  line-height: 70px;
}

.profile-aaa {
  width: 200px;
  height: 350px;
  background-color: brown;
  border-radius: 10px;
  padding: 5px;
  .image-aaa {
    width: 190px;
    height: 260px;
    background-color: aqua;
    border-radius: 10px;
    img {
      border-radius: 10px;
    }
  }

  .contents {
    border-radius: 10px;
    width: 190px;
    height: 75px;
    background-color: bisque;
    margin-top: 5px;
    .username-box {
    width: 190px;
    height: 40px;
    background-color: cadetblue;
    border-radius: 10px;
      a {
    line-height: 40px;
    font-size: 25px;
    padding-left: 10px;
    text-decoration: none;
    font-family: -webkit-pictograph;
    font-weight: bold;
    color: blue;
      }
    }
  }
}

.show-title {
  width: 100vw;
  height: 70px;
  background-color: aquamarine;
  h1 {
    font-size: 30px;
    line-height: 70px;
    text-align: center;
  }
}