.categorySelect
  %select#pararent_category
    - @parent_categories.each do |c|
      %option{value: "parent"}
        = c.name
  
  %select#children_category
    - @default_child_categories.each do |c|
      %option{value: "children"}
        = c.name